#app3{

}
#app3 .square{
    border: 1px solid red;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 5vw;
    height: 5vw;
    transition: transform 1s;/*动画要来回都有*/
}
#app3 .square.active{
    transform: translateX(15vw);
}